<!-- index.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mesto</title>
</head>
<body class="page">
  <div class="page__content">
    <header class="header page__section">
      <img src="<%= require('./images/logo.svg') %>" alt="Логотип проекта место" class="logo header__logo">
    </header>

    <main class="content">
      <section class="profile page__section">
        <div class="profile__image" style="background-image: url('<%= require('./images/avatar.jpg') %>');"></div>
        <div class="edit-icon"></div>
        <div class="profile__info">
          <h1 class="profile__title">Жак-Ив Кусто</h1>
          <button class="profile__edit-button" type="button" aria-label="Редактировать профиль"></button>
          <p class="profile__description">Исследователь океана</p>
        </div>
        <button class="profile__add-button" type="button" aria-label="Добавить новое место"></button>
      </section>

      <section class="places page__section">
        <ul class="places__list"></ul>
      </section>
    </main>

    <footer class="footer page__section">
      <p class="footer__copyright">© 2021 Mesto Russia</p>
    </footer>

    <template id="card-template">
      <li class="places__item card">
        <img class="card__image" src="" alt="">
        <button class="card__delete-button" type="button" aria-label="Удалить карточку"></button>
        <div class="card__description">
          <h2 class="card__title"></h2>
          <div class="card__like-container">
            <button class="card__like-button" type="button" aria-label="Лайк"></button>
            <span class="card__like-count">0</span>
          </div>
        </div>
      </li>
    </template>

  </div>

<!-- Модалка редактирования профиля -->
<div class="popup popup_type_edit">
  <div class="popup__content">
    <button type="button" class="popup__close" aria-label="Закрыть"></button>
    <form class="popup__form" name="editProfile" novalidate>
      <h2 class="popup__title">Редактировать профиль</h2>
      <input
        type="text"
        name="name"
        class="popup__input"
        placeholder="Имя"
        required
        minlength="2"
        maxlength="40"
        pattern="^[a-zA-Zа-яА-ЯёЁ\s\-]+$"
        data-error-message="от 2 до 40 символов, латинские, кириллические буквы, знаки дефиса и пробелы"
      >
      <span class="popup__error"></span>
      <input
        type="text"
        name="about"
        class="popup__input"
        placeholder="О себе"
        required
        minlength="2"
        maxlength="200"
        pattern="^[a-zA-Zа-яА-ЯёЁ\s\-]+$"
        data-error-message="от 2 до 200 символов, латинские, кириллические буквы, знаки дефиса и пробелы"
      >
      <span class="popup__error"></span>
      <button type="submit" class="popup__button popup__button_disabled">Сохранить</button>
    </form>
  </div>
</div>

<!-- Модалка редактирования изображения профиля -->
<div class="popup popup_type_avatar-image">
  <div class="popup__content">
    <button type="button" class="popup__close" aria-label="Закрыть"></button>
    <form class="popup__form" name="editProfileImage" novalidate>
      <h2 class="popup__title">Обновить аватар</h2>
      <input
        type="url"
        name="link"
        class="popup__input"
        placeholder="Ссылка на картинку"
        required
        pattern="https?://.+"
        data-error-message="адрес URL начинаетсяс http:// или https://"
      >
      <span class="popup__error"></span>
      <button type="submit" class="popup__button popup__button_disabled">Сохранить</button>
    </form>
  </div>
</div>

<!-- Модалка добавления карточки -->
<div class="popup popup_type_new-card">
  <div class="popup__content">
    <button type="button" class="popup__close" aria-label="Закрыть"></button>
    <form class="popup__form" name="newCard" novalidate>
      <h2 class="popup__title">Новое место</h2>
      <input
        type="text"
        name="place"
        class="popup__input"
        placeholder="Название"
        required
        minlength="2"
        maxlength="30"
        pattern="^[a-zA-Zа-яА-ЯёЁ\s\-]+$"
        data-error-message="от 2 до 40 символов, латинские, кириллические буквы, знаки дефиса и пробелы"
      >
      <span class="popup__error"></span>
      <input
        type="url"
        name="link"
        class="popup__input"
        placeholder="Ссылка на картинку"
        required
        pattern="https?://.+"
        data-error-message="адрес URL начинаетсяс http:// или https://"
      >
      <span class="popup__error"></span>
      <button type="submit" class="popup__button popup__button_disabled">Создать</button>
    </form>
  </div>
</div>


  <!-- Модалка просмотра изображения -->
  <div class="popup popup_type_image">
    <div class="popup__content popup__content_content_image">
      <button type="button" class="popup__close" aria-label="Закрыть"></button>
      <img class="popup__image" src="" alt="">
      <p class="popup__caption"></p>
    </div>
  </div>

  <!-- Модалка подтверждения удаления -->
  <div class="popup popup_type_confirm">
    <div class="popup__content">
      <button type="button" class="popup__close" aria-label="Закрыть"></button>
      <form class="popup__form" novalidate>
        <h2 class="popup__title">Вы уверены?</h2>
        <button type="submit" class="popup__button popup__button_confirm">Да</button>
      </form>
    </div>
  </div>

  <script type="module" src="./scripts/index.js"></script>
</body>
</html>
